body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.content-wrap {
    padding-bottom: 3.5rem
}

.header-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

header {
    background-color: #003366;
    color: white;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 12vh;
    height: 7rem;
}

.part0 {
    text-align: center;
}

.part0 h1 {
    margin: 0;
}

.part1 {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #364bb6;
    padding: 10px;
    border-radius: 45%;
}

header nav h1 {
    margin-bottom: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header img {
    margin-top: -4%;
    margin-bottom: -3%;
    max-width: 100%;
}

.logo {
    
}

.content-produto .product img {
    max-width: 26vh;
    object-fit: scale-down;
}

.additional-links {
    display: flex;
}

.additional-links nav {
    margin-left: 20px;
}

.info {
    flex: 1;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



.product {
    background-color: #f2f2f2;
    width: 300px;
    flex: 1;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 60vh;
}

.content-produto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 99.2%;
    height: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #003366;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #005bb5;
}