body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(45deg, #5764F0, #6B71B0, #A38D3B, #9B916B);
    background-size: 200% 200%;
    animation: colors 15s ease infinite;
}

.content-wrap {
    padding-bottom: 3.5rem
}

.header-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

header {
    background-color: #003366;
    color: white;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 12vh;
    height: 7rem;
}

.part0 {
    text-align: center;
}

.part0 h1 {
    margin: 0;
}

.part1 {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #364bb6;
    padding: 10px;
    border-radius: 45%;
}

header nav h1 {
    margin-bottom: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 15px;
    font-weight: bold;
}

header nav ul li:last-child {
    margin-right: 0;
}

header img {
    margin-top: -4%;
    margin-bottom: -3%;
    max-width: 100%;
}

i {
    padding-right: 4px;
}

.content-produto .product img {
    max-width: 26vh;
    object-fit: scale-down;
}

.additional-links {
    display: flex;
}

.additional-links nav {
    margin-left: 20px;
}

.info {
    flex: 1;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.info img {
    display: flex;
}

.info h2 {
    font-size: xx-large;
    display: flex;
}

.text-info {
    font-size: x-large;
    padding: 0% 20% 0% 20%;
    text-align: center;
}

h3 {
    font-size: x-large;
    padding: 0% 20% 0% 20%;
    text-align: center;
    font-weight: bold;
}

.product {
    background-color: #807f7f;
    width: 100%;
    flex: 1;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 60vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);

    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.product img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.content-produto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 99.2%;
    height: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding-top: 5%;
    scale: 150%;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #003366;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #005bb5;
}

input,
label {
    display: none;
}

.menu {
    width: 100%;
    height: 50px;
    font-family: Arial;
}


.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 150px;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}


.menu ul ul li a {
    background-color: #069;
}

#bt_menu {
    display: none;
}

label[for=”bt_menu”] {
    display: none;
}

@media(max-width: 800px) {

    input,
    label {
        display: contents;
    }

    label[for=”bt_menu”] {
        display: block;
    }

    #bt_menu:checked~.menu {
        margin-left: 0;
    }

    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 4s;
    }

    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }

    .info img {
        display: flex;
        scale: 50%;
    }

    .header {
        background: none;
        min-width: auto;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        margin-bottom: 10%;
    }

    .part1 {
        margin-top: 10px;
    }

    .header img {
        margin-bottom: 10px;
    }

    .info h2,
    .text-info,
    .product,
    .content,
    .content-produto {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        margin: 10px;
    }

    .imagem img {
        width: 100%;
    }

}